.banner {
  position: relative;
  margin-bottom: 35px;
  z-index: 1;
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: calc(100% - 30px);
    left: 15px;
    height: 5px;
    background: #434343;
  }
  img {
    display: block;
    width: 100%;
    height: 440px;
    object-fit: cover;
    object-position: right center;
    position: relative;
    z-index: 2;
  }
  &__inner {
    position: absolute;
    z-index: 3;
    top: 75px;
    left: 90px;
    width: 510px;
    color: #fff;
    &__top {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
    }
    &__body {
      padding-bottom: 30px;
      p {
        color: #d1d1d1;
        font-size: 14px;
        line-height: 1.3;
        margin: 0;
      }
    }
  }
  &__date {
    height: 24px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    background: #2067fb;
    font-family: 'PT Sans Narrow';
    text-transform: uppercase;
  }

  &__title {
    font-family: 'PT Sans Narrow';
    font-size: 36px;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 25px;
  }
}