.form-subscription {
  margin-bottom: 60px;
  background: #060606 url("../images/dist/bg-form-subscription.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 30px 100px 30px 67px;

  &__wrap {
    display: flex;
  }
  &__left {
    padding-top: 15px;
    width: 400px;
    padding-right: 15px;
  }
  &__title {
    color: #fff;
  }
  &__right {
    width: 600px;
    flex-grow: 1;
  }
  &__form {
    &__row {
      padding-bottom: 10px;
    }
    &__col-inp {
      flex-grow: 1;
      width: 200px;
      padding-right: 60px;
    }
    &__col-submit {
      min-width: 166px;
    }
  }
  &__footer {
    p {
      color: #d1d1d1;
      font-size: 10px;
      line-height: 16px;
      a {
        color: #d1d1d1;
        text-decoration: underline;
      }
    }
  }
}
.tabs-box__nav__item__link:hover {
  color: #000;
}

.tabs-box__nav__item__link:active:after {
  width: 100%;
}