.choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 14px;
  width: 100%;
}

.choices:focus {
  outline: 0
}

.choices:last-child {
  margin-bottom: 0
}

.choices.is-open {
  overflow: visible
}

.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none
}

.choices.is-disabled .choices__item {
  cursor: not-allowed
}

.choices [hidden] {
  display: none !important
}

.choices[data-type*=select-one] {
  cursor: pointer
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px
}

.choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0
}

.choices[data-type*=select-one] .choices__button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: .25
}

.choices[data-type*=select-one] .choices__button:focus, .choices[data-type*=select-one] .choices__button:hover {
  opacity: 1
}

.choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 2px #00bcd4
}

.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
  display: none
}

.choices[data-type*=select-one]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #2067fb transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
  z-index: 15;
}

.choices[data-type*=select-one].is-open::after {
  border-color: transparent transparent #2067fb;
  margin-top: -7.5px
}

.choices[data-type*=select-one][dir=rtl]::after {
  left: 11.5px;
  right: auto
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0
}

.choices[data-type*=select-multiple] .choices__inner, .choices[data-type*=text] .choices__inner {
  cursor: text
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin: 0-4px 0 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: .75;
  border-radius: 0
}

.choices[data-type*=select-multiple] .choices__button:focus, .choices[data-type*=select-multiple] .choices__button:hover, .choices[data-type*=text] .choices__button:focus, .choices[data-type*=text] .choices__button:hover {
  opacity: 1
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  min-height: 46px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.is-focused .choices__inner, .is-open .choices__inner {
  border-color: #b7b7b7
}


.choices__list {
  margin: 0;
  list-style: none
}

.choices__list--single {
  display: inline-block;
  width: 100%
}

[dir=rtl] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px
}

.choices__list--single .choices__item {
  width: 100%
}

.choices__list--multiple {
  display: inline
}

.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px
}

[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1
}

.is-disabled .choices__list--multiple .choices__item {
  background-color: #aaa;
  border: 1px solid #919191
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  top: 100%;
  margin-top: -1px;
  word-break: break-all;
  will-change: visibility
}

.choices__list--dropdown {
  .choices__list {
    padding: 10px 0;
  }

}

.is-active.choices__list--dropdown, .is-active.choices__list[aria-expanded] {
  visibility: visible
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-color: #b7b7b7
}

.is-flipped .choices__list--dropdown, .is-flipped .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: .25rem .25rem 0 0
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 250px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 5px 15px;
  font-size: 12px;
  line-height: 20px;
}

[dir=rtl] .choices__list--dropdown .choices__item, [dir=rtl] .choices__list[aria-expanded] .choices__item {
  text-align: right
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {

  }
  .choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%)
  }
  [dir=rtl] .choices__list--dropdown .choices__item--selectable, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
    text-align: right;
  }
  [dir=rtl] .choices__list--dropdown .choices__item--selectable::after, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
    right: auto;
    left: 10px
  }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: #2067fb;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: .5
}

.choices__item {
  cursor: default
}

.choices__item--selectable {
  cursor: pointer
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
  opacity: .5
}

.choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray
}

.choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer
}

.choices__button:focus, .choices__input:focus {
  outline: 0
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px
}

.choices__input::-webkit-search-cancel-button, .choices__input::-webkit-search-decoration, .choices__input::-webkit-search-results-button, .choices__input::-webkit-search-results-decoration {
  display: none
}

.choices__input::-ms-clear, .choices__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0
}

[dir=rtl] .choices__input {
  padding-right: 2px;
  padding-left: 0
}

.choices__placeholder {
  opacity: 1;
  color: #d1d1d1;
}

.order-page {
  background: #f9f9f9;
  padding-bottom: 100px;
}

.basket-section {
  &__header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #646464;

    &__number {
      margin-right: 28px;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      font-family: "Open Sans";
      font-weight: bold;
      background-color: #646464;
    }
  }

  &--active {
    .basket-section__header {
      color: #1a1a1a;
    }

    .basket-section__header__number {
      background-color: #2067fb;
    }
  }
}

.col-lg-9 {
  width: 75%;
}

.choices__list--dropdown {
  .choices__list {
    background: #fff;
    position: relative;
    z-index: 10;
  }

  .choices__input {
    background: #fff;
    position: relative;
    z-index: 10;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: -43px;
    right: -5px;
    width: 100%;
    height: calc(100% + 47px);
    background: #d1d1d1;
  }
}

.select-custom:not(.choices__input) {
  opacity: 0;
}

.fpad20 {
  padding-bottom: 20px;
}

.text-field {
  position: relative;

  &__input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 10px 15px;
    border: 1px solid #d1d1d1;
    transition: all .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    line-height: 16px;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 15px 15px;
    pointer-events: none;
    transform-origin: 0 0;
    transition: all .15s ease-in-out;
    color: #b8b8b8;
    font-size: 14px;
    line-height: 16px;
  }
}

.text-field .text-field__input::placeholder {
  color: transparent;
}

.text-field .text-field__input:focus ~ .text-field__label,
.text-field .text-field__input:not(:placeholder-shown) ~ .text-field__label {
  transform: scale(.85) translateY(-8px) translateX(5px);
}

.text-field .text-field__input:focus,
.text-field .text-field__input:not(:placeholder-shown) {
  padding-top: 18px;
  padding-bottom: 5px;
}

.col-lg-12 {
  width: 100%;
}


.js-dropdown__arrow {
  padding-left: 15px;
  padding-right: 15px;
}

.phone_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #d1d1d1;
  height: 48px;


  input {
    background-color: transparent;
    border: none;
    padding-left: 10px;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #1a1a1a;

    &::placeholder {
      color: #1a1a1a;
      opacity: 1;
    }
  }

  .js-dropdown__arrow {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__code {
    cursor: pointer;
  }

  &__item {
    position: relative;
    cursor: pointer;
    opacity: 1;
    font-size: 14px;
    color: #1a1a1a;
    line-height: 18px;

    &:hover {
      background-color: #f9f9f9;
    }

    &:last-child {
      margin: 0;
    }

    &.country_code {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
      padding: 6px 15px;

      .flag {
        display: flex;
        max-width: 30px;
        margin: 0 10px 0 0;
      }

      .code {
        color: #b8b8b8;
        pointer-events: none;
      }

      .country {
        display: flex;
        margin: 0 5px 0 0;
        pointer-events: none;
      }
    }
  }
}

.js-dropdown {
  position: relative;


  &__arrow {
    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 40%;
      right: 0;
      transform: translateY(-50%) rotate(45deg);
      border: 2px solid #000;
      border-top: 0;
      border-left: 0;
      transition: 0.3s;

      @media (max-width: 600px) {
        width: 5px;
        height: 5px;
        top: 43%;
      }
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    display: none;
    padding: 10px 0;
    background: #ffffff;
    list-style: none;
    margin-top: -1px;
    z-index: 1000;
    overflow: auto;
    border: 1px solid #d1d1d1;
  }

  &.dropdown__active {
    .js-dropdown__list {
      display: block;
    }

    .js-dropdown__arrow {
      &:before {
        top: 55%;
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }
}

.form {
  &-input {
    display: block;
  }
}

.phone_field__flag {
  display: flex;
  align-items: center;
  padding-left: 15px;
  background: #f9f9f9;
  width: 65px;
  min-width: 65px;
  position: relative;
  height: 100%;
  border-right: 1px solid #d1d1d1;
  user-select: none;
  cursor: pointer;

  img {
    display: block;
    width: 24px;
    height: 15px;
  }
}

.phone_field__item .flag img {
  display: block;
  width: 24px;
  height: 15px;
}

.phone_field__row {
  display: flex;
  width: 100%;
  padding: 18px 15px 5px 15px;
  position: relative;
}

.phone_field__flag::after {
  border: 5px solid transparent;
  border-top-color: #2067fb;
  content: "";
  height: 0;
  margin-top: -2.5px;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 50%;
  width: 0;
  z-index: 15;
}

.phone_field__label {
  display: block;
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 15px;
  font-size: 12px;
  color: #b8b8b8;
}

.basket-section__body__btn {
  display: flex;
  padding-bottom: 30px;
}

.error-inp {
  .choices__inner,
  .text-field__input,
  .phone_field {
    border-color: #d71f1f !important;
  }

  .choices__placeholder,
  .text-field__label,
  .phone_field__label {
    color: #d71f1f !important;
  }

}

.order-page__submit-footer {
  padding-top: 10px;
  text-align: center;

  .btn {
    margin-bottom: 30px;
  }

  &__ps {
    color: #1a1a1a;
    font-size: 12px;
    line-height: 16px;

    a {
      color: #1a1a1a;
      text-decoration: underline;

      &:hover {
        color: #2067fb;
      }
    }
  }
}

.order-page__sb {
  background-color: #fff;
}

.order-page__info-basket {
  &__header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #1a1a1a;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border: none;
    background: transparent;

    &::after {
      content: "";
      display: block;
      transform: rotate(180deg);
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.1s ease-in-out;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23f9f9f9;%7D.cls-2%7Bfill:%232067fb;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='arrow-circle-down'%3E%3Cpath class='cls-1' d='M256,512c141.38,0,256-114.62,256-256S397.38,0,256,0,0,114.62,0,256C.15,397.32,114.68,511.85,256,512Z'/%3E%3Cpath class='cls-2' d='M299.49,314.67,400,214.11,369.85,184,269.33,284.51l-99.69-99.69L139.47,215l99.69,99.69a42.66,42.66,0,0,0,60.33,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &:not(.open) {
    .order-page__info-basket__header::after {
      transform: rotate(0deg);
    }
  }
}

.feed-product.feed-product--top {
  align-items: flex-start;

  .group-products__item__footer {
    padding-bottom: 0;
  }

  .group-products__item__col-desc {
    margin-top: -2px;
  }
}

.group-products__item__count {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #1a1a1a;
}

.order-page__info-basket__item {
  margin-bottom: 10px;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid #ededed;
  }

  .group-products__item__col-desc {
    padding-right: 0;
    padding-left: 20px;
  }

  .group-products__item__col-img {
    min-width: 50px;
    width: 50px;
  }

  .group-products__item__footer__price {
    display: flex;
    justify-content: flex-end;

    div {
      font-size: 14px;
      line-height: 16px;
    }

    .feed-product__old-cost::after {
      height: 1px;
      top: 8px;
    }
  }

  .group-products__item {
    margin-bottom: 10px;
  }
}


.accordion__control {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.accordion__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.2s ease-out;
  box-sizing: content-box;

}

.open .accordion__content {
  opacity: 1;
}

.first-open .accordion__content {
  max-height: none;
}

.basket-section:not(.basket-section--active) .basket-section__body {
  display: none;
}

.basket-section:not(.basket-section--finish) .link {
  display: none;
}

.basket-section__header .link {
  font-size: 14px;
  line-height: 16px;
}

.basket-section.basket-section--finish {
  .basket-section__header {
    color: #1a1a1a;
  }

  .basket-section__header__number {
    background-color: #2067fb;
  }
}

.basket-section__delivery {
  padding-bottom: 20px;
  display: block;
  &__item {

    &:not(:last-child) {
      border-bottom: 1px solid #ededed;
    }
    &__header {
      display: flex;
      align-items: center;
      padding: 15px 0;
      max-width: 640px;
      &__day {
        width: 100px;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
      }
      &__cost {
        width: 100px;
        font-family: 'PT Sans Narrow';
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
      }
    }
    &__title {
      padding-left: 20px;
      padding-right: 10px;
      flex-grow: 1;
      font-family: 'PT Sans Narrow';
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #1a1a1a;
      text-transform: uppercase;
      text-align: left;
    }
  }
}
.accordion__ico {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.1s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23f9f9f9;%7D.cls-2%7Bfill:%232067fb;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='arrow-circle-down'%3E%3Cpath class='cls-1' d='M256,512c141.38,0,256-114.62,256-256S397.38,0,256,0,0,114.62,0,256C.15,397.32,114.68,511.85,256,512Z'/%3E%3Cpath class='cls-2' d='M299.49,314.67,400,214.11,369.85,184,269.33,284.51l-99.69-99.69L139.47,215l99.69,99.69a42.66,42.66,0,0,0,60.33,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.accordion.open {
  .accordion__ico {
    transform: rotate(180deg);
  }
}
.basket-section__delivery__list {
  padding-left: 43px;
  max-width: 640px;
  display: block;
  li {
    width: 100%;
    padding-bottom: 25px;
  }
  &__item {
    justify-content: space-between;
    &__desc {
      flex-grow: 1;
      padding-right: 30px;
      b {
        display: block;
        font-weight: bold;
      }
    }
    &__cost {
      white-space: nowrap;
      font-family: 'PT Sans Narrow';
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.radio-custom {
  display: flex;
  input {
    display: none;
    &:checked + .radio-custom__text {
      &::after {
        border-color: #2067fb;
      }
      &::before {
        background: #2067fb;
      }
    }
  }
  &__text {
    padding-left: 40px;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    &::after {
      content: "";
      width: 18px;
      height: 18px;
      border-radius: 9px;
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 0;
      border: 2px solid #d1d1d1;
      transition: all 0.1s ease-in-out;
    }
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 5px;
      position: absolute;
      z-index: 1;
      top: 7px;
      left: 4px;
      background: transparent;
      transition: all 0.1s ease-in-out;
    }
  }
}
.fw-bold {
  font-weight: bold;
}
.fs-14 {
  font-size: 14px;
  line-height: 24px;
}
.fs-12 {
  font-size: 12px;
  line-height: 18px;
}
.fpad10 {
  padding-bottom: 10px;
}
.basket-section__delivery-box {
  position: relative;
  z-index: 1;
  max-width: 640px;
  &__wrap {
    border: 2px solid #646464;
    background: #fff;
    padding: 15px 30px;
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background: #646464;
  }
  &__close {
    display: block;
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    color: #d1d1d1;
    &:hover {
      color: #646464;
    }
  }
}
.mb-0 {
  margin-bottom: 0 !important;
}
.order-page__form__basket-section {
  margin-bottom: 15px;
}
.basket-section__payment-method {
  display: block;
  li:not(:last-child) {
    padding-bottom: 10px;
    width: 100%;
    display: block;
  }
  &__item__desc{
    height: 68px;
    border: 1px solid #ededed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 20px 5px 54px !important;
    transition: all 0.1s ease-in-out;
    &__name {
      width: 50%;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
    }
    &__ico {
      width: 50%;
      padding-left: 5px;
    }
    &::after {
      left: 18px !important;
      top: 50% !important;
      margin-top: -9px;
    }
    &::before {
      left: 22px !important;
      top: 50% !important;
      margin-top: -5px;
    }
  }
}
.basket-section__payment-method__item input:checked + .basket-section__payment-method__item__desc {
  border-color: #2067fb;
}
.form__textarea.form__textarea--min {
  padding: 7px 15px;
  height: 80px;
}
.group-products__level-list.group-products__level-list--level2 {
  padding-left: 93px;
  margin-top: 0;
}