.video-slider__item {
  position: relative;
  z-index: 1;
  display: block;
  img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 358.48'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:red;%7D.cls-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cpath class='cls-1' d='M501.45,56.09A64.15,64.15,0,0,0,456.33,11C416.26,0,256,0,256,0S95.73,0,55.67,10.55A65.46,65.46,0,0,0,10.54,56.09C0,96.16,0,179.24,0,179.24s0,83.51,10.54,123.15a64.18,64.18,0,0,0,45.13,45.13c40.49,11,200.33,11,200.33,11s160.26,0,200.33-10.54a64.16,64.16,0,0,0,45.13-45.13C512,262.75,512,179.66,512,179.66S512.42,96.16,501.45,56.09Z'/%3E%3Cpath class='cls-2' d='M205,256l133.27-76.76L205,102.48Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 58px;
    height: 40px;
    margin: -20px 0 0 -29px;
  }
}